*{
    margin:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{
    background:white;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    margin:0;
}
.calculator{
    background-color:pink;
    padding:36px;
    border-radius:10px;
    width:250px;
    box-shadow:0 0px pink(0,0,0,1);
}
.display{
    width:180px;
    height:60px;
    background:rgb(143,140,140);
    border-radius:10px;
    font-size:2rem;
    text-align:right;
    padding:20px;
    margin-bottom:10px;
}
.buttons{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    width:30px;
    gap : 10px;

}
button{

    height:30px;
    font-size:1.2rem;
    border:none;
    border-radius:0px;
    background-color:cadetblue;
    cursor:pointer;
}
.operator{
    background-color:orange;
}
.equal{
    background-color:burlywood;
    grid-column:span 2;
}
